<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a class="nav__item {% if entry.url == page.url %}nav__item_active{% endif %}" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>
        {{ entry.title }}
      </a>
    </li>
  {%- endfor %}
  </ul>
</nav>
