---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}

{% set postslist = collections.post | head(-6) %}
{% include "components/postslist.njk" %}

<p><a href="{{ '/posts/' | url }}">Больше записей</a></p>