---
layout: layouts/base.njk
section: post
---

<article>
  <h1>{{ title }}</h1>
  <p>
    <small>
      <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
    </small>
  </p>

  {{ layoutContent | safe }}

  {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %}

</article>

<nav>
  <a href="{{ '/posts/' | url }}">← Blog index</a>
</nav>

{# <ul class="siblings">
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}
    <li class="siblings__item siblings__item_next">
      <a href="{{ nextPost.url | url }}">
        Свежее<br>
        <b>{{ nextPost.data.title }}</b>
      </a>
    </li>
  {% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}
    <li class="siblings__item siblings__item_prev">
      <a href="{{ previousPost.url | url }}">
        Старее<br>
        <b>{{ previousPost.data.title }}</b>
      </a>
    </li>
  {% endif %}
</ul> #}